## TMDB - Systematische Evaluierung

In [19]:
import pandas as pd
import numpy as np
from datetime import datetime

In [20]:
columns = [
    "adult",
    "belongs_to_collection",
    "budget",
    "genres",
    "id",
    "original_language",
    "release_date",
    "runtime",
    "spoken_languages",
    "status",
    "tagline",
    "title",
    "vote_average",
    "vote_count"
]
df = pd.read_csv("tmdb_movies.csv", sep="\t", usecols=columns)
df.head()

,adult,belongs_to_collection,budget,genres,id,original_language,release_date,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,False,NaN,1783810,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",79782,pl,2010-06-11,110,"[{'english_name': 'Czech', 'iso_639_1': 'cs', ...",Released,NaN,Venice,7.0,13
1,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",141210,en,2012-10-12,6,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Sleepover,6.6,8
2,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",143750,en,2012-06-20,18,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Farmer's Wife,10.0,1
3,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",84198,en,2012-03-22,84,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,One Nation. Underfed.,A Place at the Table,6.7,20
4,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",171982,en,2012-10-09,27,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Romance,6.0,1

### fix genres, belongs_to_collection, spoken languages, remove missing data, fix data types

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19963 entries, 0 to 19962
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  19963 non-null  bool
 1   belongs_to_collection  1886 non-null   object
 2   budget                 19963 non-null  int64
 3   genres                 19963 non-null  object
 4   id                     19963 non-null  int64
 5   original_language      19963 non-null  object
 6   release_date           19963 non-null  object
 7   runtime                19963 non-null  int64
 8   spoken_languages       19963 non-null  object
 9   status                 19963 non-null  object
 10  tagline                8793 non-null   object
 11  title                  19963 non-null  object
 12  vote_average           19963 non-null  float64
 13  vote_count             19963 non-null  int64
dtypes: bool(1), float64(1), int64(4), object(8)
memory usage: 2.0+ MB

In [22]:
# change datatype of release date
df.release_date = pd.to_datetime(df.release_date)

In [23]:
# remove rows with release dates after 2021-01-01
df = df[df.release_date <= datetime.strptime("2020-12-31", "%Y-%m-%d")]

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19949 entries, 0 to 19962
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  19949 non-null  bool
 1   belongs_to_collection  1885 non-null   object
 2   budget                 19949 non-null  int64
 3   genres                 19949 non-null  object
 4   id                     19949 non-null  int64
 5   original_language      19949 non-null  object
 6   release_date           19949 non-null  datetime64[ns]
 7   runtime                19949 non-null  int64
 8   spoken_languages       19949 non-null  object
 9   status                 19949 non-null  object
 10  tagline                8785 non-null   object
 11  title                  19949 non-null  object
 12  vote_average           19949 non-null  float64
 13  vote_count             19949 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(4), object(7)
memory usage: 2.1+ MB